## Answer the following-by writing & executing code


Since pandas is a large library with many different specialist features and functions, these excercises focus mainly on the fundamentals of manipulating data (indexing, grouping, aggregating, cleaning), making use of the core DataFrame and Series objects.

Many of the excerises here are stright-forward in that the solutions require no more than a few lines of code (in pandas or NumPy... don't go using pure Python or Cython!). Choosing the right methods and following best practices is the underlying goal.

The exercises are loosely divided in sections. Each section has a difficulty rating; these ratings are subjective, of course, but should be a seen as a rough guide as to how inventive the required solution is.

If you're just starting out with pandas and you are looking for some other resources, the official documentation  is very extensive. In particular, some good places get a broader overview of pandas are...

Enjoy the Questions!

## Importing pandas

### Getting started and checking your pandas setup

Difficulty: *easy*

**1.** Import pandas under the alias `pd`.

In [ ]:
import pandas as pd

**2.** Print the version of pandas that has been imported.

In [ ]:
pd.__version__

'1.5.3'

**3.** Print out all the *version* information of the libraries that are required by the pandas library.

In [4]:
pd.show_versions()

/usr/local/lib/python3.10/dist-packages/_distutils_hack/__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

INSTALLED VERSIONS
------------------
commit           : 2e218d10984e9919f0296931d92ea851c6a6faf5
python           : 3.10.12.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.15.120+
Version          : #1 SMP Wed Aug 30 11:19:59 UTC 2023
machine          : x86_64
processor        : x86_64
byteorder        : little
LC_ALL           : en_US.UTF-8
LANG             : en_US.UTF-8
LOCALE           : en_US.UTF-8

pandas           : 1.5.3
numpy            : 1.23.5
pytz             : 2023.3.post1
dateutil         : 2.8.2
setuptools       : 67.7.2
pip              : 23.1.2
Cython           : 3.0.2
pytest           : 7.4.1
hypothesis       : None
sphinx           : 5.0.2
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : 4.9.3
html5lib         : 1.1
pymysql          : None
psycopg2         : 2.9.7
jinja2           : 3.1.2
IPython          : 7.34.0
pandas_datareader: 0.10.0
bs4              : 4.11.2
bottleneck       : None
brotli           : None
fastparquet      : None
fsspec           : 2023.6.0
gcsfs            : 2023.6.0
matplotlib       : 3.7.1
numba            : 0.56.4
numexpr          : 2.8.5
odfpy            : None
openpyxl         : 3.1.2
pandas_gbq       : 0.17.9
pyarrow          : 9.0.0
pyreadstat       : None
pyxlsb           : None
s3fs             : None
scipy            : 1.11.2
snappy           : None
sqlalchemy       : 2.0.20
tables           : 3.8.0
tabulate         : 0.9.0
xarray           : 2023.7.0
xlrd             : 2.0.1
xlwt             : None
zstandard        : None
tzdata           : None

## DataFrame basics

### A few of the fundamental routines for selecting, sorting, adding and aggregating data in DataFrames

Difficulty: *easy*

Note: remember to import numpy using:
```python
import numpy as np
```

Consider the following Python dictionary `data` and Python list `labels`:

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```
(This is just some meaningless data I made up with the theme of animals and trips to a vet.)

**4.** Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

In [7]:
import numpy as np
import pandas as pd

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**5.** Display a summary of the basic information about this DataFrame and its data (*hint: there is a single method that can be called on the DataFrame*).

In [ ]:
df.info()

**6.** Return the first 3 rows of the DataFrame `df`.

In [8]:
df.head(3)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

**7.** Select just the 'animal' and 'age' columns from the DataFrame `df`.

In [9]:
df[['animal','age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

**8.** Select the data in rows `[3, 4, 8]` *and* in columns `['animal', 'age']`.

In [10]:
df.loc[['d', 'e', 'i'], ['animal', 'age']]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

**9.** Select only the rows where the number of visits is greater than 3.

In [11]:
df[df['visits'] > 3]

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

**10.** Select the rows where the age is missing, i.e. it is `NaN`.

In [12]:
df[df['age'].isnull()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

**11.** Select the rows where the animal is a cat *and* the age is less than 3.

In [13]:
df[(df['animal'] == 'cat') & (df['age'] < 3)]

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

**12.** Select the rows the age is between 2 and 4 (inclusive).

In [20]:
df[df['age'].between(2, 4)]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no

**13.** Change the age in row 'f' to 1.5.

In [22]:
df.loc['f', 'age'] = 1.5
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**14.** Calculate the sum of all visits in `df` (i.e. find the total number of visits).

In [23]:
total_visits = df['visits'].sum()
total_visits

19

**15.** Calculate the mean age for each different animal in `df`.

In [25]:
mean_age_by_animal = df.groupby('animal')['age'].mean()
mean_age_by_animal

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

**16.** Append a new row 'k' to `df` with your choice of values for each column. Then delete that row to return the original DataFrame.

In [26]:
df.loc['k'] = ['bird', 1, 2, 'yes']

# Display the DataFrame with the new row
print(df)

# Delete row 'k' to return the original DataFrame
df = df.drop('k')

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no
k   bird  1.0       2      yes

**17.** Count the number of each type of animal in `df`.

In [ ]:
animal_counts = df['animal'].value_counts()

**18.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visits' column in *ascending* order (so row `i` should be first, and row `d` should be last).

In [ ]:
df_sorted = df.sort_values(by=['age', 'visits'], ascending=[False, True])

**19.** The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be `True` and 'no' should be `False`.

In [ ]:
df['priority'] = df['priority'].replace({'yes': True, 'no': False})

**20.** In the 'animal' column, change the 'snake' entries to 'python'.

In [ ]:
df['animal'] = df['animal'].replace('snake', 'python')

**21.** For each animal type and each number of visits, find the mean age. In other words, each row is an animal, each column is a number of visits and the values are the mean ages (*hint: use a pivot table*).

In [ ]:
pivot_table = df.pivot_table(index='animal', columns='visits', values='age', aggfunc='mean')

## DataFrames: beyond the basics

### Slightly trickier: you may need to combine two or more methods to get the right answer

Difficulty: *medium*

The previous section was tour through some basic but essential DataFrame operations. Below are some ways that you might need to cut your data, but for which there is no single "out of the box" method.

**22.** You have a DataFrame `df` with a column 'A' of integers. For example:
```python
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
```

How do you filter out rows which contain the same integer as the row immediately above?

You should be left with a column containing the following values:

```python
1, 2, 3, 4, 5, 6, 7
```

In [27]:
import pandas as pd

# Assuming 'df' is your DataFrame
# Create a sample DataFrame for demonstration
data = {'values': [1, 2,3, 4, 5, 6, 7]}
df = pd.DataFrame(data)

# Filter out rows with the same integer as the row above
filtered_df = df[df['values'] != df['values'].shift(1)]

# Display the resulting DataFrame
print(filtered_df)

   values
0       1
1       2
2       3
3       4
4       5
5       6
6       7

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [ ]:
# Subtract the row mean from each element in the row
df = df.sub(df.mean(axis=1), axis=0)

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum?  Return that column's label.

In [ ]:
smallest_sum_column = df.sum().idxmin()

**25.** How do you count how many unique rows a DataFrame has (i.e. ignore all rows that are duplicates)? As input, use a DataFrame of zeros and ones with 10 rows and 3 columns.

```python
df = pd.DataFrame(np.random.randint(0, 2, size=(10, 3)))
```

In [31]:
smallest_sum_column = df.sum().idxmin()

The next three puzzles are slightly harder.


**26.** In the cell below, you have a DataFrame `df` that consists of 10 columns of floating-point numbers. Exactly 5 entries in each row are NaN values.

For each row of the DataFrame, find the *column* which contains the *third* NaN value.

You should return a Series of column labels: `e, c, d, h, d`

In [30]:
nan = np.nan

data = [[0.04,  nan,  nan, 0.25,  nan, 0.43, 0.71, 0.51,  nan,  nan],
        [ nan,  nan,  nan, 0.04, 0.76,  nan,  nan, 0.67, 0.76, 0.16],
        [ nan,  nan, 0.5 ,  nan, 0.31, 0.4 ,  nan,  nan, 0.24, 0.01],
        [0.49,  nan,  nan, 0.62, 0.73, 0.26, 0.85,  nan,  nan,  nan],
        [ nan,  nan, 0.41,  nan, 0.05,  nan, 0.61,  nan, 0.48, 0.68]]

columns = list('abcdefghij')

df = pd.DataFrame(data, columns=columns)

# write a solution to the question here

**27.** A DataFrame has a column of groups 'grps' and and column of integer values 'vals':

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'),
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
For each *group*, find the sum of the three greatest values. You should end up with the answer as follows:
```
grps
a    409
b    156
c    345
```

In [29]:
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'),
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

# write a solution to the question here

**28.** The DataFrame `df` constructed below has two integer columns 'A' and 'B'. The values in 'A' are between 1 and 100 (inclusive).

For each group of 10 consecutive integers in 'A' (i.e. `(0, 10]`, `(10, 20]`, ...), calculate the sum of the corresponding values in column 'B'.

The answer should be a Series as follows:

```
A
(0, 10]      635
(10, 20]     360
(20, 30]     315
(30, 40]     306
(40, 50]     750
(50, 60]     284
(60, 70]     424
(70, 80]     526
(80, 90]     835
(90, 100]    852
```

In [28]:
df = pd.DataFrame(np.random.RandomState(8765).randint(1, 101, size=(100, 2)), columns = ["A", "B"])

# write a solution to the question here

## DataFrames: harder problems

### These might require a bit of thinking outside the box...

...but all are solvable using just the usual pandas/NumPy methods (and so avoid using explicit `for` loops).

Difficulty: *hard*

**29.** Consider a DataFrame `df` where there is an integer column 'X':
```python
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
```
For each value, count the difference back to the previous zero (or the start of the Series, whichever is closer). These values should therefore be

```
[1, 2, 0, 1, 2, 3, 4, 0, 1, 2]
```

Make this a new column 'Y'.

**30.** Consider the DataFrame constructed below which contains rows and columns of numerical data.

Create a list of the column-row index locations of the 3 largest values in this DataFrame. In this case, the answer should be:
```
[(5, 7), (6, 4), (2, 5)]
```

In [ ]:
df = pd.DataFrame(np.random.RandomState(30).randint(1, 101, size=(8, 8)))

**31.** You are given the DataFrame below with a column of group IDs, 'grps', and a column of corresponding integer values, 'vals'.

```python
df = pd.DataFrame({"vals": np.random.RandomState(31).randint(-30, 30, size=15),
                   "grps": np.random.RandomState(31).choice(["A", "B"], 15)})
```

Create a new column 'patched_values' which contains the same values as the 'vals' any negative values in 'vals' with the group mean:

```
    vals grps  patched_vals
0    -12    A          13.6
1     -7    B          28.0
2    -14    A          13.6
3      4    A           4.0
4     -7    A          13.6
5     28    B          28.0
6     -2    A          13.6
7     -1    A          13.6
8      8    A           8.0
9     -2    B          28.0
10    28    A          28.0
11    12    A          12.0
12    16    A          16.0
13   -24    A          13.6
14   -12    A          13.6
```

In [35]:
import pandas as pd
import numpy as np

# Create the DataFrame
df = pd.DataFrame({"vals": np.random.RandomState(31).randint(-30, 30, size=15),
                   "grps": np.random.RandomState(31).choice(["A", "B"], 15)})

# Calculate group means
group_means = df.groupby('grps')['vals'].transform('mean')

# Define a function to patch negative values with group means
def patch_values(row):
    if row['vals'] < 0:
        return group_means[row.name]
    else:
        return row['vals']

# Apply the patch_values function to create the 'patched_values' column
df['patched_values'] = df.apply(patch_values, axis=1)

# Print the DataFrame
print(df)

    vals grps  patched_values
0    -12    A       -0.333333
1     -7    B        6.333333
2    -14    A       -0.333333
3      4    A        4.000000
4     -7    A       -0.333333
5     28    B       28.000000
6     -2    A       -0.333333
7     -1    A       -0.333333
8      8    A        8.000000
9     -2    B        6.333333
10    28    A       28.000000
11    12    A       12.000000
12    16    A       16.000000
13   -24    A       -0.333333
14   -12    A       -0.333333

**32.** Implement a rolling mean over groups with window size 3, which ignores NaN value. For example consider the following DataFrame:

```python
>>> df = pd.DataFrame({'group': list('aabbabbbabab'),
                       'value': [1, 2, 3, np.nan, 2, 3, np.nan, 1, 7, 3, np.nan, 8]})
>>> df
   group  value
0      a    1.0
1      a    2.0
2      b    3.0
3      b    NaN
4      a    2.0
5      b    3.0
6      b    NaN
7      b    1.0
8      a    7.0
9      b    3.0
10     a    NaN
11     b    8.0
```
The goal is to compute the Series:

```
0     1.000000
1     1.500000
2     3.000000
3     3.000000
4     1.666667
5     3.000000
6     3.000000
7     2.000000
8     3.666667
9     2.000000
10    4.500000
11    4.000000
```
E.g. the first window of size three for group 'b' has values 3.0, NaN and 3.0 and occurs at row index 5. Instead of being NaN the value in the new column at this row index should be 3.0 (just the two non-NaN values are used to compute the mean (3+3)/2)

In [ ]:
import pandas as pd
import numpy as np

# Create the DataFrame
df = pd.DataFrame({'group': list('aabbabbbabab'),
                   'value': [1, 2, 3, np.nan, 2, 3, np.nan, 1, 7, 3, np.nan, 8]})

# Define a custom aggregation function to calculate the mean while ignoring NaN values
def custom_mean(series):
    return series.dropna().mean()

# Apply the rolling mean with window size 3, ignoring NaN values, within each group
df['rolling_mean'] = df.groupby('group')['value'].rolling(3, min_periods=1).apply(custom_mean).reset_index(level=0, drop=True)

# Print the DataFrame
print(df)

## Series and DatetimeIndex

### Exercises for creating and manipulating Series with datetime data

Difficulty: *easy/medium*

pandas is fantastic for working with dates and times. These puzzles explore some of this functionality.

**33.** Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers. Let's call this Series `s`.

In [ ]:
import pandas as pd
import numpy as np

# Create a DatetimeIndex for business days in 2015
start_date = '2015-01-01'
end_date = '2015-12-31'
business_days_2015 = pd.date_range(start=start_date, end=end_date, freq='B')

# Create a Series of random numbers indexed by the DatetimeIndex
s = pd.Series(np.random.random(len(business_days_2015)), index=business_days_2015)

# Print the Series
print(s)

**34.** Find the sum of the values in `s` for every Wednesday.

In [ ]:
# Filter the Series to include only Wednesdays
wednesday_values = s[s.index.weekday == 2]  # Monday = 0, Tuesday = 1, Wednesday = 2, ...

# Calculate the sum of the values for Wednesdays
wednesday_sum = wednesday_values.sum()

# Print the sum
print("Sum of values on Wednesdays:", wednesday_sum)

**35.** For each calendar month in `s`, find the mean of values.

In [ ]:
# Resample the Series by month and calculate the mean for each month
monthly_mean = s.resample('M').mean()

# Print the resulting Series
print(monthly_mean)

**36.** For each group of four consecutive calendar months in `s`, find the date on which the highest value occurred.

In [ ]:
import pandas as pd

# Create a DataFrame with the date index
start_date = '2015-01-01'
end_date = '2015-12-31'
business_days_2015 = pd.date_range(start=start_date, end=end_date, freq='B')
s = pd.Series(np.random.random(len(business_days_2015)), index=business_days_2015)

# Define a function to find the date of the maximum value within a Series
def date_of_max(series):
    return series.idxmax()

# Use rolling with a window size of four months and apply the date_of_max function
result = s.rolling(window=11, min_periods=1).apply(date_of_max)

# Print the resulting Series
print(result)

**37.** Create a DateTimeIndex consisting of the third Thursday in each month for the years 2015 and 2016.

In [ ]:
import pandas as pd

# Create a DateTimeIndex for the third Thursday of each month in 2015 and 2016
date_index_2015 = pd.date_range(start='2015-01-01', end='2015-12-31', freq='WOM-3THU')
date_index_2016 = pd.date_range(start='2016-01-01', end='2016-12-31', freq='WOM-3THU')

# Combine the two DateTimeIndex objects if needed
combined_date_index = date_index_2015.append(date_index_2016)

# Print the resulting DateTimeIndex
print(combined_date_index)

## Cleaning Data

### Making a DataFrame easier to work with

Difficulty: *easy/medium*

It happens all the time: someone gives you data containing malformed strings, Python, lists and missing data. How do you tidy it up so you can get on with the analysis?

Take this monstrosity as the DataFrame to use in the following puzzles:

```python
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm',
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
                               '12. Air France', '"Swiss Air"']})
```
Formatted, it looks like this:

```
            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"
```


(It's some flight data I made up; it's not meant to be accurate in any way.)

**38.** Some values in the the **FlightNumber** column are missing (they are `NaN`). These numbers are meant to increase by 10 with each row so 10055 and 10075 need to be put in place. Modify `df` to fill in these missing numbers and make the column an integer column (instead of a float column).

In [ ]:
import pandas as pd
import numpy as np

# Create the DataFrame
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm',
                               'Budapest_PaRis', 'Brussels_londOn'],
                   'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
                   'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
                               '12. Air France', '"Swiss Air"']})

# Fill in missing values in 'FlightNumber' column and convert it to integer
df['FlightNumber'] = df['FlightNumber'].fillna(df['FlightNumber'].shift() + 10).astype(int)

# Print the modified DataFrame
print(df)

**39.** The **From\_To** column would be better as two separate columns! Split each string on the underscore delimiter `_` to give a new temporary DataFrame called 'temp' with the correct values. Assign the correct column names 'From' and 'To' to this temporary DataFrame.

In [ ]:
import pandas as pd

# Create the DataFrame
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm',
                               'Budapest_PaRis', 'Brussels_londOn'],
                   'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
                   'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
                               '12. Air France', '"Swiss Air"']})

# Create a temporary DataFrame 'temp' by splitting the 'From_To' column
temp = df['From_To'].str.split('_', expand=True)

# Assign the correct column names 'From' and 'To' to the 'temp' DataFrame
temp.columns = ['From', 'To']

# Print the 'temp' DataFrame
print(temp)

**40.** Notice how the capitalisation of the city names is all mixed up in this temporary DataFrame 'temp'. Standardise the strings so that only the first letter is uppercase (e.g. "londON" should become "London".)

In [ ]:
import pandas as pd

# Create the DataFrame
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm',
                               'Budapest_PaRis', 'Brussels_londOn'],
                   'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
                   'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
                               '12. Air France', '"Swiss Air"']})

# Create a temporary DataFrame 'temp' by splitting the 'From_To' column
temp = df['From_To'].str.split('_', expand=True)

# Assign the correct column names 'From' and 'To' to the 'temp' DataFrame
temp.columns = ['From', 'To']

# Standardize capitalization of city names in the 'temp' DataFrame
temp['From'] = temp['From'].str.capitalize()
temp['To'] = temp['To'].str.capitalize()

# Print the standardized 'temp' DataFrame
print(temp)

**41.** Delete the **From_To** column from `df` and attach the temporary DataFrame 'temp' from the previous questions.

In [ ]:
import pandas as pd

# Create the DataFrame
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm',
                               'Budapest_PaRis', 'Brussels_londOn'],
                   'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
                   'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
                               '12. Air France', '"Swiss Air"']})

# Create a temporary DataFrame 'temp' by splitting the 'From_To' column
temp = df['From_To'].str.split('_', expand=True)

# Assign the correct column names 'From' and 'To' to the 'temp' DataFrame
temp.columns = ['From', 'To']

# Standardize capitalization of city names in the 'temp' DataFrame
temp['From'] = temp['From'].str.capitalize()
temp['To'] = temp['To'].str.capitalize()

# Delete the 'From_To' column from 'df'
df.drop(columns='From_To', inplace=True)

# Concatenate 'df' and 'temp'
df = pd.concat([df, temp], axis=1)

# Print the modified 'df' DataFrame
print(df)

**42**. In the **Airline** column, you can see some extra puctuation and symbols have appeared around the airline names. Pull out just the airline name. E.g. `'(British Airways. )'` should become `'British Airways'`.

In [ ]:
import pandas as pd
import re

# Create the DataFrame
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm',
                               'Budapest_PaRis', 'Brussels_londOn'],
                   'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
                   'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
                               '12. Air France', '"Swiss Air"']})

# Use regular expressions to extract the airline names
df['Airline'] = df['Airline'].str.extract('([a-zA-Z\s]+)', expand=False)

# Print the modified 'df' DataFrame
print(df)

**43**. In the RecentDelays column, the values have been entered into the DataFrame as a list. We would like each first value in its own column, each second value in its own column, and so on. If there isn't an Nth value, the value should be NaN.

Expand the Series of lists into a DataFrame named `delays`, rename the columns `delay_1`, `delay_2`, etc. and replace the unwanted RecentDelays column in `df` with `delays`.

In [ ]:
import pandas as pd
import numpy as np

# Create the DataFrame
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm',
                               'Budapest_PaRis', 'Brussels_londOn'],
                   'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
                   'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
                               '12. Air France', '"Swiss Air"']})

# Expand the 'RecentDelays' column into a DataFrame
delays = df['RecentDelays'].apply(pd.Series)

# Rename the columns to 'delay_1', 'delay_2', etc.
delays.columns = [f'delay_{i+1}' for i in range(delays.shape[1])]

# Replace the 'RecentDelays' column in 'df' with 'delays'
df = pd.concat([df.drop(columns='RecentDelays'), delays], axis=1)

# Print the modified 'df' DataFrame
print(df)

The DataFrame should look much better now.
```
   FlightNumber          Airline      From         To  delay_1  delay_2  delay_3
0         10045              KLM    London      Paris     23.0     47.0      NaN
1         10055       Air France    Madrid      Milan      NaN      NaN      NaN
2         10065  British Airways    London  Stockholm     24.0     43.0     87.0
3         10075       Air France  Budapest      Paris     13.0      NaN      NaN
4         10085        Swiss Air  Brussels     London     67.0     32.0      NaN
```

## Using MultiIndexes

### Go beyond flat DataFrames with additional index levels

Difficulty: *medium*

Previous exercises have seen us analysing data from DataFrames equipped with a single index level. However, pandas also gives you the possibilty of indexing your data using *multiple* levels. This is very much like adding new dimensions to a Series or a DataFrame. For example, a Series is 1D, but by using a MultiIndex with 2 levels we gain of much the same functionality as a 2D DataFrame.

The set of puzzles below explores how you might use multiple index levels to enhance data analysis.

To warm up, we'll look make a Series with two index levels.

**44**. Given the lists `letters = ['A', 'B', 'C']` and `numbers = list(range(10))`, construct a MultiIndex object from the product of the two lists. Use it to index a Series of random numbers. Call this Series `s`.

In [ ]:
import pandas as pd
import numpy as np

# Create the lists
letters = ['A', 'B', 'C']
numbers = list(range(10))

# Create the MultiIndex from the product of the two lists
multi_index = pd.MultiIndex.from_product([letters, numbers], names=['Letter', 'Number'])

# Create a Series of random numbers indexed by the MultiIndex
s = pd.Series(np.random.random(len(multi_index)), index=multi_index)

# Print the Series
print(s)

**45.** Check the index of `s` is lexicographically sorted (this is a necessary proprty for indexing to work correctly with a MultiIndex).

In [ ]:
import pandas as pd
import numpy as np

# Create the lists
letters = ['A', 'B', 'C']
numbers = list(range(10))

# Create the MultiIndex from the product of the two lists
multi_index = pd.MultiIndex.from_product([letters, numbers], names=['Letter', 'Number'])

# Create a Series of random numbers indexed by the MultiIndex
s = pd.Series(np.random.random(len(multi_index)), index=multi_index)

# Check if the index is lexicographically sorted
is_sorted = s.index.is_lexsorted()

# Print the result
print("Is the index lexicographically sorted?", is_sorted)

**46**. Select the labels `1`, `3` and `6` from the second level of the MultiIndexed Series.

In [ ]:
import pandas as pd
import numpy as np

# Create the lists
letters = ['A', 'B', 'C']
numbers = list(range(10))

# Create the MultiIndex from the product of the two lists
multi_index = pd.MultiIndex.from_product([letters, numbers], names=['Letter', 'Number'])

# Create a Series of random numbers indexed by the MultiIndex
s = pd.Series(np.random.random(len(multi_index)), index=multi_index)

# Select labels 1, 3, and 6 from the second level of the MultiIndex
selected_values = s.xs([1, 3, 6], level='Number')

# Print the selected values
print(selected_values)

**47**. Slice the Series `s`; slice up to label 'B' for the first level and from label 5 onwards for the second level.

In [ ]:
import pandas as pd
import numpy as np

# Create the lists
letters = ['A', 'B', 'C']
numbers = list(range(10))

# Create the MultiIndex from the product of the two lists
multi_index = pd.MultiIndex.from_product([letters, numbers], names=['Letter', 'Number'])

# Create a Series of random numbers indexed by the MultiIndex
s = pd.Series(np.random.random(len(multi_index)), index=multi_index)

# Slice the Series based on the specified conditions
sliced_data = s.loc[slice(None, 'B'), slice(5, None)]

# Print the sliced data
print(sliced_data)

**48**. Sum the values in `s` for each label in the first level (you should have Series giving you a total for labels A, B and C).

In [ ]:
import pandas as pd
import numpy as np

# Create the lists
letters = ['A', 'B', 'C']
numbers = list(range(10))

# Create the MultiIndex from the product of the two lists
multi_index = pd.MultiIndex.from_product([letters, numbers], names=['Letter', 'Number'])

# Create a Series of random numbers indexed by the MultiIndex
s = pd.Series(np.random.random(len(multi_index)), index=multi_index)

# Sum the values in 's' for each label in the first level
sum_by_first_level = s.sum(level='Letter')

# Print the sum for each label in the first level
print(sum_by_first_level)

**49**. Suppose that `sum()` (and other methods) did not accept a `level` keyword argument. How else could you perform the equivalent of `s.sum(level=1)`?

In [ ]:
import pandas as pd
import numpy as np

# Create the lists
letters = ['A', 'B', 'C']
numbers = list(range(10))

# Create the MultiIndex from the product of the two lists
multi_index = pd.MultiIndex.from_product([letters, numbers], names=['Letter', 'Number'])

# Create a Series of random numbers indexed by the MultiIndex
s = pd.Series(np.random.random(len(multi_index)), index=multi_index)

# Perform the equivalent of s.sum(level=1) using groupby and sum
sum_by_second_level = s.groupby(level='Number').sum()

# Print the sum for each label in the second level
print(sum_by_second_level)

**50**. Exchange the levels of the MultiIndex so we have an index of the form (letters, numbers). Is this new Series properly lexsorted? If not, sort it.

In [ ]:
import pandas as pd
import numpy as np

# Create the lists
letters = ['A', 'B', 'C']
numbers = list(range(10))

# Create the MultiIndex from the product of the two lists
multi_index = pd.MultiIndex.from_product([letters, numbers], names=['Letter', 'Number'])

# Create a Series of random numbers indexed by the MultiIndex
s = pd.Series(np.random.random(len(multi_index)), index=multi_index)

# Exchange the levels of the MultiIndex
s = s.swaplevel('Letter', 'Number')

# Check if the new Series is lexsorted and sort it if needed
if not s.index.is_lexsorted():
    s = s.sort_index()

# Print the sorted Series
print(s)

## Minesweeper

### Generate the numbers for safe squares in a Minesweeper grid

Difficulty: *medium* to *hard*

If you've ever used an older version of Windows, there's a good chance you've played with Minesweeper:
- https://en.wikipedia.org/wiki/Minesweeper_(video_game)


If you're not familiar with the game, imagine a grid of squares: some of these squares conceal a mine. If you click on a mine, you lose instantly. If you click on a safe square, you reveal a number telling you how many mines are found in the squares that are immediately adjacent. The aim of the game is to uncover all squares in the grid that do not contain a mine.

In this section, we'll make a DataFrame that contains the necessary data for a game of Minesweeper: coordinates of the squares, whether the square contains a mine and the number of mines found on adjacent squares.

**51**. Let's suppose we're playing Minesweeper on a 5 by 4 grid, i.e.
```
X = 5
Y = 4
```
To begin, generate a DataFrame `df` with two columns, `'x'` and `'y'` containing every coordinate for this grid. That is, the DataFrame should start:
```
   x  y
0  0  0
1  0  1
2  0  2
```

In [ ]:
import pandas as pd
import numpy as np

# Define the dimensions of the grid
X = 5
Y = 4

# Create a DataFrame with all coordinates
df = pd.DataFrame(np.array(np.meshgrid(range(X), range(Y))).T.reshape(-1, 2), columns=['x', 'y'])

# Print the DataFrame
print(df)

**52**. For this DataFrame `df`, create a new column of zeros (safe) and ones (mine). The probability of a mine occuring at each location should be 0.4.

In [ ]:
import pandas as pd
import numpy as np

# Define the dimensions of the grid
X = 5
Y = 4

# Create a DataFrame with all coordinates
df = pd.DataFrame(np.array(np.meshgrid(range(X), range(Y))).T.reshape(-1, 2), columns=['x', 'y'])

# Define the probability of a mine
mine_probability = 0.4

# Create a new column 'mine' with zeros (safe) and ones (mine)
df['mine'] = np.random.choice([0, 1], size=df.shape[0], p=[1 - mine_probability, mine_probability])

# Print the DataFrame
print(df)

**53**. Now create a new column for this DataFrame called `'adjacent'`. This column should contain the number of mines found on adjacent squares in the grid.

(E.g. for the first row, which is the entry for the coordinate `(0, 0)`, count how many mines are found on the coordinates `(0, 1)`, `(1, 0)` and `(1, 1)`.)

In [ ]:
import pandas as pd
import numpy as np

# Define the dimensions of the grid
X = 5
Y = 4

# Create a DataFrame with all coordinates
df = pd.DataFrame(np.array(np.meshgrid(range(X), range(Y))).T.reshape(-1, 2), columns=['x', 'y'])

# Define the probability of a mine
mine_probability = 0.4

# Create a new column 'mine' with zeros (safe) and ones (mine)
df['mine'] = np.random.choice([0, 1], size=df.shape[0], p=[1 - mine_probability, mine_probability])

# Function to count adjacent mines
def count_adjacent_mines(row):
    x, y = row['x'], row['y']
    adjacent_coords = [(x-1, y-1), (x-1, y), (x-1, y+1), (x, y-1), (x, y+1), (x+1, y-1), (x+1, y), (x+1, y+1)]
    mine_count = 0
    for coord in adjacent_coords:
        if (coord[0] >= 0 and coord[0] < X) and (coord[1] >= 0 and coord[1] < Y):
            if df.loc[(df['x'] == coord[0]) & (df['y'] == coord[1]), 'mine'].values[0] == 1:
                mine_count += 1
    return mine_count

# Apply the count_adjacent_mines function to create the 'adjacent' column
df['adjacent'] = df.apply(count_adjacent_mines, axis=1)

# Print the DataFrame
print(df)

**54**. For rows of the DataFrame that contain a mine, set the value in the `'adjacent'` column to NaN.

In [ ]:
import pandas as pd
import numpy as np

# Define the dimensions of the grid
X = 5
Y = 4

# Create a DataFrame with all coordinates
df = pd.DataFrame(np.array(np.meshgrid(range(X), range(Y))).T.reshape(-1, 2), columns=['x', 'y'])

# Define the probability of a mine
mine_probability = 0.4

# Create a new column 'mine' with zeros (safe) and ones (mine)
df['mine'] = np.random.choice([0, 1], size=df.shape[0], p=[1 - mine_probability, mine_probability])

# Function to count adjacent mines
def count_adjacent_mines(row):
    x, y = row['x'], row['y']
    adjacent_coords = [(x-1, y-1), (x-1, y), (x-1, y+1), (x, y-1), (x, y+1), (x+1, y-1), (x+1, y), (x+1, y+1)]
    mine_count = 0
    for coord in adjacent_coords:
        if (coord[0] >= 0 and coord[0] < X) and (coord[1] >= 0 and coord[1] < Y):
            if df.loc[(df['x'] == coord[0]) & (df['y'] == coord[1]), 'mine'].values[0] == 1:
                mine_count += 1
    return mine_count

# Apply the count_adjacent_mines function to create the 'adjacent' column
df['adjacent'] = df.apply(count_adjacent_mines, axis=1)

# Set 'adjacent' to NaN for rows containing a mine
df.loc[df['mine'] == 1, 'adjacent'] = np.nan

# Print the DataFrame
print(df)

**55**. Finally, convert the DataFrame to grid of the adjacent mine counts: columns are the `x` coordinate, rows are the `y` coordinate.

In [ ]:
import pandas as pd
import numpy as np

# Define the dimensions of the grid
X = 5
Y = 4

# Create a DataFrame with all coordinates
df = pd.DataFrame(np.array(np.meshgrid(range(X), range(Y))).T.reshape(-1, 2), columns=['x', 'y'])

# Define the probability of a mine
mine_probability = 0.4

# Create a new column 'mine' with zeros (safe) and ones (mine)
df['mine'] = np.random.choice([0, 1], size=df.shape[0], p=[1 - mine_probability, mine_probability])

# Function to count adjacent mines
def count_adjacent_mines(row):
    x, y = row['x'], row['y']
    adjacent_coords = [(x-1, y-1), (x-1, y), (x-1, y+1), (x, y-1), (x, y+1), (x+1, y-1), (x+1, y), (x+1, y+1)]
    mine_count = 0
    for coord in adjacent_coords:
        if (coord[0] >= 0 and coord[0] < X) and (coord[1] >= 0 and coord[1] < Y):
            if df.loc[(df['x'] == coord[0]) & (df['y'] == coord[1]), 'mine'].values[0] == 1:
                mine_count += 1
    return mine_count

# Apply the count_adjacent_mines function to create the 'adjacent' column
df['adjacent'] = df.apply(count_adjacent_mines, axis=1)

# Set 'adjacent' to NaN for rows containing a mine
df.loc[df['mine'] == 1, 'adjacent'] = np.nan

# Convert the DataFrame to a grid of adjacent mine counts
grid = df.pivot(index='y', columns='x', values='adjacent')

# Print the grid
print(grid)

## Plotting

### Visualize trends and patterns in data

Difficulty: *medium*

To really get a good understanding of the data contained in your DataFrame, it is often essential to create plots: if you're lucky, trends and anomalies will jump right out at you. This functionality is baked into pandas and the puzzles below explore some of what's possible with the library.

**56.** Pandas is highly integrated with the plotting library matplotlib, and makes plotting DataFrames very user-friendly! Plotting in a notebook environment usually makes use of the following boilerplate:

```python
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')
```

matplotlib is the plotting library which pandas' plotting functionality is built upon, and it is usually aliased to ```plt```.

```%matplotlib inline``` tells the notebook to show plots inline, instead of creating them in a separate window.  

```plt.style.use('ggplot')``` is a style theme that most people find agreeable, based upon the styling of R's ggplot package.

For starters, make a scatter plot of this random data, but use black X's instead of the default markers.

```df = pd.DataFrame({"xs":[1,5,2,8,1], "ys":[4,2,1,9,6]})```

**57.** Columns in your DataFrame can also be used to modify colors and sizes.  Bill has been keeping track of his performance at work over time, as well as how good he was feeling that day, and whether he had a cup of coffee in the morning.  Make a plot which incorporates all four features of this DataFrame.

(Hint:  If you're having trouble seeing the plot, try multiplying the Series which you choose to represent size by 10 or more)

*The chart doesn't have to be pretty: this isn't a course in data viz!*

```
df = pd.DataFrame({"productivity":[5,2,3,1,4,5,6,7,8,3,4,8,9],
                   "hours_in"    :[1,9,6,5,3,9,2,9,1,7,4,2,2],
                   "happiness"   :[2,1,3,2,3,1,2,3,1,2,2,1,3],
                   "caffienated" :[0,0,1,1,0,0,0,0,1,1,0,1,0]})
```

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Create the DataFrame
df = pd.DataFrame({"productivity":[5,2,3,1,4,5,6,7,8,3,4,8,9],
                   "hours_in"    :[1,9,6,5,3,9,2,9,1,7,4,2,2],
                   "happiness"   :[2,1,3,2,3,1,2,3,1,2,2,1,3],
                   "caffienated" :[0,0,1,1,0,0,0,0,1,1,0,1,0]})

# Create a scatter plot
plt.scatter(df['productivity'], df['hours_in'], c=df['happiness'], s=df['caffienated'] * 15, cmap='viridis')

# Add labels and title
plt.xlabel('Productivity')
plt.ylabel('Hours In')
plt.title('Bill\'s Performance Over Time')

# Show the color bar
colorbar = plt.colorbar()
colorbar.set_label('Happiness')

# Show the plot
plt.show()

**58.**  What if we want to plot multiple things?  Pandas allows you to pass in a matplotlib *Axis* object for plots, and plots will also return an Axis object.

Make a bar plot of monthly revenue with a line plot of monthly advertising spending (numbers in millions)

```
df = pd.DataFrame({"revenue":[57,68,63,71,72,90,80,62,59,51,47,52],
                   "advertising":[2.1,1.9,2.7,3.0,3.6,3.2,2.7,2.4,1.8,1.6,1.3,1.9],
                   "month":range(12)
                  })
```

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Create the DataFrame
df = pd.DataFrame({"revenue":[57,68,63,71,72,90,80,62,59,51,47,52],
                   "advertising":[2.1,1.9,2.7,3.0,3.6,3.2,2.7,2.4,1.8,1.6,1.3,1.9],
                   "month":range(12)
                  })

# Create a figure and axis
fig, ax1 = plt.subplots()

# Plot monthly revenue as a bar plot on the primary axis
ax1.bar(df['month'], df['revenue'], color='b', alpha=0.7, label='Revenue')
ax1.set_xlabel('Month')
ax1.set_ylabel('Revenue', color='b')
ax1.tick_params('y', colors='b')

# Create a secondary axis for monthly advertising spending as a line plot
ax2 = ax1.twinx()
ax2.plot(df['month'], df['advertising'], color='r', marker='o', label='Advertising')
ax2.set_ylabel('Advertising Spending (Millions)', color='r')
ax2.tick_params('y', colors='r')

# Add a legend
lines, labels = ax1.get_legend_handles_labels()
lines2, labels2 = ax2.get_legend_handles_labels()
ax1.legend(lines + lines2, labels + labels2, loc='upper left')

# Set the x-axis ticks
plt.xticks(df['month'], ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'])

# Set the title
plt.title('Monthly Revenue and Advertising Spending')

# Show the plot
plt.tight_layout()
plt.show()

Now we're finally ready to create a candlestick chart, which is a very common tool used to analyze stock price data.  A candlestick chart shows the opening, closing, highest, and lowest price for a stock during a time window.  The color of the "candle" (the thick part of the bar) is green if the stock closed above its opening price, or red if below.

![Candlestick Example](img/candle.jpg)

This was initially designed to be a pandas plotting challenge, but it just so happens that this type of plot is just not feasible using pandas' methods.  If you are unfamiliar with matplotlib, we have provided a function that will plot the chart for you so long as you can use pandas to get the data into the correct format.

Your first step should be to get the data in the correct format using pandas' time-series grouping function.  We would like each candle to represent an hour's worth of data.  You can write your own aggregation function which returns the open/high/low/close, but pandas has a built-in which also does this.

The below cell contains helper functions.  Call ```day_stock_data()``` to generate a DataFrame containing the prices a hypothetical stock sold for, and the time the sale occurred.  Call ```plot_candlestick(df)``` on your properly aggregated and formatted stock data to print the candlestick chart.

In [ ]:
import numpy as np
def float_to_time(x):
    return str(int(x)) + ":" + str(int(x%1 * 60)).zfill(2) + ":" + str(int(x*60 % 1 * 60)).zfill(2)

def day_stock_data():
    #NYSE is open from 9:30 to 4:00
    time = 9.5
    price = 100
    results = [(float_to_time(time), price)]
    while time < 16:
        elapsed = np.random.exponential(.001)
        time += elapsed
        if time > 16:
            break
        price_diff = np.random.uniform(.999, 1.001)
        price *= price_diff
        results.append((float_to_time(time), price))


    df = pd.DataFrame(results, columns = ['time','price'])
    df.time = pd.to_datetime(df.time)
    return df

#Don't read me unless you get stuck!
def plot_candlestick(agg):
    """
    agg is a DataFrame which has a DatetimeIndex and five columns: ["open","high","low","close","color"]
    """
    fig, ax = plt.subplots()
    for time in agg.index:
        ax.plot([time.hour] * 2, agg.loc[time, ["high","low"]].values, color = "black")
        ax.plot([time.hour] * 2, agg.loc[time, ["open","close"]].values, color = agg.loc[time, "color"], linewidth = 10)

    ax.set_xlim((8,16))
    ax.set_ylabel("Price")
    ax.set_xlabel("Hour")
    ax.set_title("OHLC of Stock Value During Trading Day")
    plt.show()

**59.** Generate a day's worth of random stock data, and aggregate / reformat it so that it has hourly summaries of the opening, highest, lowest, and closing prices

In [ ]:
import pandas as pd
import numpy as np

# Set the random seed for reproducibility
np.random.seed(0)

# Define the number of data points for a day (e.g., 24 data points for hourly data)
num_data_points = 24

# Generate random stock data for a day
stock_data = pd.DataFrame({
    'Timestamp': pd.date_range(start='2023-09-21', periods=num_data_points, freq='H'),
    'Price': np.random.uniform(low=100, high=200, size=num_data_points)
})

# Create hourly summaries
hourly_summary = stock_data.groupby(stock_data['Timestamp'].dt.hour).agg({
    'Price': ['first', 'max', 'min', 'last']
})

# Rename columns for clarity
hourly_summary.columns = ['Open', 'High', 'Low', 'Close']

# Reset the index to show hours as a separate column
hourly_summary.reset_index(inplace=True)

# Print the hourly summaries
print(hourly_summary)